html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


.card[data-id^='n'] {
    background-color: #ffeaa7;
}

.card[data-id=n78d2ps] {
/*    border: 4px solid #eb3b5a;*/
    background-image: url(../img/icons/apple.png);
    background-size: contain;
}

.card[data-id=n8sd1p0] {
/*    border: 4px solid #fa8231;*/
    background-image: url(../img/icons/banana.png);
    background-size: contain;
}

.card[data-id=n74dfp6] {
/*    border: 4px solid #f7b731;*/
    background-image: url(../img/icons/cherry.png);
    background-size: contain;
}

.card[data-id=n06d9pa] {
/*    border: 4px solid #20bf6b;*/
    background-image: url(../img/icons/watermelon.png);
    background-size: contain;
}

.card[data-id=n5rdmp2] {
/*    border: 4px solid #0fb9b1;*/
    background-image: url(../img/icons/grape.png);
    background-size: contain;
}

.card[data-id=n18dypr] {
/*    border: 4px solid #2d98da;*/
    background-image: url(../img/icons/mango.png);
    background-size: contain;
}

.card[data-id=n6pdipz] {
/*    border: 4px solid #3867d6;*/
    background-image: url(../img/icons/strawberry.png);
    background-size: contain;
}

.card[data-id=n75dnpc] {
/*    border: 4px solid #8854d0;*/
    background-image: url(../img/icons/orange.png);
    background-size: contain;
}


